{% extends 'blog/base.html' %}
{% load static %}
{% load detail_tag %}


{% block title %}
    <title>{{ article.title }} - AJ</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://lib.baomitu.com/hint.css/2.7.0/hint.min.css"/>
    <link rel="stylesheet" href="https://lib.baomitu.com/fancybox/3.5.7/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="{% static 'css/github-dark.css' %}"/>
{% endblock %}


{% block js %}
    <script src="{% static 'js/custom_detail.js' %}"></script>
{% endblock %}

{% block subtitle %}
    <div class="h2">
        <span id="subtitle" data-typed-text="{{ article.title }}"></span>
    </div>
    <div class="mt-4">
        <span class="post-meta">
          创建于 {{ article.create_time|date:"Y-m-d H:i:s" }} | 更新于 {{ article.create_time|date:"Y-m-d H:i:s" }}
        </span>
    </div>
    <div class="mt-2">
        <span class="post-meta mr-3">
            <i class="iconfont icon-category"></i> {{ article.category.name }}
        </span>
        <span class="post-meta mr-3">
            <i class="iconfont icon-chart"></i> {{ article.content|count_words }} 字
        </span>
        <span class="post-meta mr-3">
            <i class="iconfont icon-clock-fill"></i> {{ article.content|estimate_reading_time }} 分钟
        </span>
        <span class="post-meta mr-3">
            <i class="iconfont icon-eye"></i> {{ article.views }} 次
        </span>
    </div>
{% endblock %}


{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div class="side-col col-2">
                <aside class="sidebar" style="margin-left: 0.2rem">
                    <!-- TOC -->
                    <div id="toc">
                        <p class="toc-header"><i class="iconfont icon-list"></i>&nbsp;目录</p>
                        <div class="toc-body" id="toc-body"></div>
                    </div>
                </aside>
            </div>
            <div class="col-10">
                <div class="container" id="board-ctn">
                    <div id="board">
                        <article class="post-content mx-auto">
                            <div class="markdown-body">
                                {{ article.content|safe }}
                            </div>
                            <hr/>
                            <div class="post-prevnext my-3">
                                <article class="post-prev col-6">
                                    {% if prev_article %}
                                        <a href="{% url 'blog:detail' prev_article.pk %}">
                                            <i class="iconfont icon-arrowleft"></i>
                                            <span class="hidden-mobile">{{ prev_article.title }}</span>
                                            <span class="visible-mobile">上一篇</span>
                                        </a>
                                    {% endif %}
                                </article>
                                <article class="post-next col-6">
                                    {% if next_article %}
                                        <a href="{% url 'blog:detail' next_article.pk %}">
                                            <span class="hidden-mobile">{{ next_article.title }}</span>
                                            <span class="visible-mobile">下一篇</span>
                                            <i class="iconfont icon-arrowright"></i>
                                        </a>
                                    {% endif %}
                                </article>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
